<div class="navbar">
  <div class="navbar-inner">
    <div class="container" style="width: auto;">

      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <a class="brand" href="#">sharedot</a>

      <div class="nav-collapse">
        <ul class="nav pull-right">
          <li class="active"><a href="/">Principal</a></li>
          <li><a href="/archivos">Archivos</a></li>
          <li><a href="/chat">Chat</a></li>
          <li><a href="/acercade">Acerca de ...</a></li>
        </ul>
      </div>

    </div>
  </div>
</div>
