{% extends "base.html" %}

{% block body_head %}
{{ utils.menu("/archivos") }}
{% endblock %}

{% block body_content %}

<h1>Archivos</h1>

<div class="accordion" id="accordion2">
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                      Subir un nuevo archivo
                    </a>
                  </div>
                  <div id="collapseOne" class="accordion-body collapse" style="height: 0px;">
                    <div class="accordion-inner">

                      Por favor selecciona un archivo de tu equipo para compartir:

                      <p>
                        <form class="form-search">

                          <p>
                            <input type="file" class="input-medium search-query">
                            <p>
                            <input type="submit" class="btn btn-info">
                        </form>

                    </div>
                  </div>
                </div>
              </div>




  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th>Nombre de archivo</th>
        <th>Subido por ...</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>

    {% for x in archivos %}
        <tr>
          <td>{{ x }}</td>
          <td>Anónimo</td>
          <td><a class='btn btn-small' href='/descargar/{{ x }}'>Descargar</a></td>
        </tr>
    {% endfor %}

    </tbody>
  </table>

{% endblock %}
