{% extends "base.html" %}

{% block body_head %}
{{ utils.menu("/archivos") }}
{% endblock %}

{% block body_content %}
<script type="text/javascript" src="socket.io.js"></script>

<h1>Archivos</h1>

<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">Subir un nuevo archivo</a>
    </div>
    <div id="collapseOne" class="accordion-body collapse" style="height: 0px;">
      <div class="accordion-inner">

        Por favor selecciona un archivo de tu equipo para compartir:

        <p>
        <form id='form-subir' class="form-search" enctype='multipart/form-data' action='/subir_archivo' method='post'>

          <p>
            <input type="file" name='file' class="input-medium search-query">
          <p>
            <input type="submit" class="btn btn-info" value='Subir archivo' id='boton_subir'>
        </form>

      </div>
    </div>
  </div>
</div>

<script>
document.ready = function() {
  WEB_SOCKET_SWF_LOCATION = "/WebSocketMain.swf";
  WEB_SOCKET_DEBUG = true;

  var socket = io.connect();

  var file_input = $('input[name="file"]');
  var boton_subir = $('#boton_subir');

  boton_subir.css('display', 'none');

  file_input.change(function() {
    boton_subir.css('display', 'inline');
    boton_subir.focus();
  });


  $("#form-subir").submit(function() {
    var nombre_archivo = $("input[name='file']").val();
    socket.emit('publicar', '{{nombre}}', nombre_archivo);
  });






};
</script>



  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th>Nombre de archivo</th>
        <th>Fecha</th>
        <th>Subido por ...</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>

    {% for x in archivos %}
        <tr>
          <td>{{ x.nombre }}</td>
          <td>{{ x.date }}</td>
          <td>{{ x.usuario }}</td>
          <td><a class='btn btn-small' href='/descargar/{{ x.id }}'>Descargar</a></td>
        </tr>
    {% endfor %}

    </tbody>
  </table>

{% endblock %}
