{% extends "base.html" %}

{% block body_head %}
{{ utils.menu("/chat") }}
{% endblock %}

{% block body_content %}

<script type="text/javascript" src="socket.io.js"></script>
<script>    
document.ready = function() {
  WEB_SOCKET_SWF_LOCATION = "/WebSocketMain.swf";
  WEB_SOCKET_DEBUG = true;

  var socket = io.connect();
  
  function imprimir_mensaje(usuario, mensaje) {
    $('#salida').append("<p><b>" + usuario + "</b> dice: " + mensaje);
    var box = document.getElementById('box')
    box.scrollTop = box.scrollHeight;
  }

  socket.on('conversacion', imprimir_mensaje);


  $(function () {
      $('#enviar-mensaje').submit(function () {
        socket.emit('enviar mensaje', "{{nombre}}", $('#mensaje').val());
        $("#mensaje").val("").focus();

        return false;
      });
  });
};
</script>





<h1>Chat</h1>

<div id="box" style="background: #FFF;">
	<div class="inner">
    <div id="salida">
    </div>
	</div>


</div>

<div class='footer'>
  <form id="enviar-mensaje" class='well form-search'>
    <input id="mensaje" type='text' class='input-medium search-query'>
    <button>Enviar mensaje</button>
  </form>
</div>

{% endblock %}
